<!DOCTYPE html>
<html>
    {% include ['head.html'] %}
    <body>
        {{ ckeditor.load() }}
        {% include ['navbar.html'] %}
        {% include ['confirmModal.html'] %}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <center><h3>Edit Recipe</h3></center>
                </div>
            </div>
            <div class="row">
                <div class="col-sm" style="margin-top:5%">
                    <form id="editRecipeForm" action="{{ url_for('editRecipe', id=recipe.id)}}" method="post" enctype="multipart/form-data">
                        <div class="form-group row">
                            <div class="col-8">
                                <p class="form-input-title">Title</p>
                                <input class="form-control" type="text" name="title" value="{{recipe.title}}">
                            </div>
                            <div class="col-4">
                                <p class="form-input-title">Category</p>
                                <input class="form-control" type="text" name="category" value="{{recipe.category}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <p class="form-input-title">Ingredients <span class="totalSubtitle">Total #:  <input type="text" id="numOfIngredients" name="count" value="{{recipe.ingredients|length}}"></span></p>
                                <ul id="ingredientsList" class="form-control" type="text" name="ingredientsList">
                                    {% for ingredient in recipe.ingredients %}
                                    <li class="ingredientItem">
                                        <input type="text" name="ingredient-{{loop.index}}" value="{{ingredient.name}}"></input> 
                                        <a class="deleteIngredientButton btn btn-light"> 
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                      </li>
                                    {% endfor %}
                                </ul>
                                <button class="btn btn-light" type="button" id="addIngredientButton">Add Ingredient</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <p class="form-input-title">Method</p>
                                {{ ckeditor.create(value=recipe.method) }}
                            </div>
                        </div>
                        <div class="form-group row justify-content-between">
                            <div class="col-4">
                                <p class="form-input-title">Change Image</p>
                                <input type="file" name="recipeImage" class="recipeImageUpload">
                            </div>
                            <div class="col-8 row justify-content-between">
                                <div class="col-4">
                                    <p class="form-input-title">Servings</p>
                                    <input type="number" name="servings" value="{{recipe.servings}}"></input>
                                </div>
                                <div class="col-4">
                                    <p class="form-input-title">Prep Time</p>
                                    <input type="text" name="prepTime" value="{{recipe.prepTime}}"></input>
                                </div>
                                <div class="col-4">
                                    <p class="form-input-title">Cook Time</p>
                                    <input type="text" name="cookTime" value="{{recipe.cookTime}}"></input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <button class="col-12 btn btn-success" id="recipeSubmitFormButton" onClick="submitForm(this.form)" type="submit">Finish Editing Recipe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% include ['footer.html'] %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/editRecipe.js') }}"></script>

    </body>
</html>
