<!DOCTYPE html>
<html>
    {% include ['head.html'] %}
    <body>
        
        {% include ['navbar.html'] %}
        {% include ['confirmModal.html'] %}
        <!-- Featured container -->
        <div class="container-fluid featured-container">

            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                {% for recipe in recipes.recipes[:5] | sort(attribute='ratingAvg') %}
                    {% if recipe.ratingAvg %}
                        <div class="swiper-slide">
                            {% if recipe.imageURL == "default.jpg" %}
                                <img class="featured-image" src={{ url_for('static', filename='img/default.jpg') }} style="width:100%">
                            {% else %}
                                <img class="featured-image" src={{ recipe.imageURL }} style="width:100%">
                            {% endif %}
                            <div class="overlay">
                                <div class="row">
                                    <div class="col">
                                        <a class="link" href="recipe/{{recipe.id}}">
                                            <div class="title">{{ recipe.title }}</div>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <div class="rating-time">
                                            <p class="rating-avg">
                                                <i class="fa-regular fa-star"></i> {{ recipe.ratingAvg }} <span class="rating-count">({{ recipe.ratingCount }})</span>
                                            </p>
                                            
                                            <p class="total-time">
                                                <i class="fa-regular fa-clock"></i>
                                                <span id="total-time">{{ recipe.cookTime }}</span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- Navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
                
                

        </div>

        <div class="container popular-recipes">
            <div class="row">
                <div class="col">
                    <h2 class="title">Popular Recipes</h2>
                </div>
                <div class="col-3">
                    <a class="view-all" href="#">View All</a>
                </div>
            </div>
            <div class="recipeGrid">
                {% for recipe in recipes.recipes %}
                    {% if loop.index % 2 == 1 %}
                        <div class="row">
                    {% endif %}

                            <div class="col recipe">
                                <a href="recipe/{{recipe.id}}">
                                    {% if recipe.imageURL == "default.jpg" %}
                                        <img class="recipe-image" src={{ url_for('static', filename='img/default.jpg') }}>
                                    {% else %}
                                        <img class="recipe-image" src={{ recipe.imageURL }}>
                                    {% endif %}
                                    <div class="favorite-overlay">
                                        {% if session['user'] %}
                                            {% set ns = namespace(liked=false) %}
                                            {% for like in likes %}
                                                {% if like.recipe_id == recipe.id %}
                                                    {% set ns.liked = true %}                     
                                                {% endif %}
                                            {% endfor %}        
                                            {% if ns.liked %}
                                                <a data-id="{{recipe.id}}" data-action="unsave" data-token="{{session['user']['token']}}" class="heart">
                                                    <i class="fa fa-heart"></i>
                                                </a>                                        
                                            {% else %}
                                                <a data-id="{{recipe.id}}" data-action="save" data-token="{{session['user']['token']}}" class="heart">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ url_for('auth.login') }}" class="heart">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="overlay">
                                        <p class="recipe-title">{{ recipe.title }}</p>
                                    </div>
                                </a>
                            </div>

                    {% if loop.index % 2 == 0 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
            

        {% include ['footer.html'] %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="{{ url_for('static', filename='js/swiper.js') }}"></script>


    </body>
</html>
