<nav class="navbar sticky-top navbar-expand-lg navbar-dark">
    <div class="container">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <div id="nav-icon3">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

      <a class="navbar-brand" href="{{ url_for('index') }}">{{name}}</a>
      {% if session['user'] %}
        <div class="nav-icons">
          <a class="nav-icon" href="{{ url_for('favourites') }}"><i class="fa fa-shake fa-regular fa-heart"></i></a>
          <a class="nav-icon" href="{{ url_for('search') }}"><i class="fa fa-search"></i></a>
        </div>
      {% else %}
          <a class="nav-icon-login" href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          
          {% if session['user'] %}
            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link" href="{{ url_for('index') }}">Recipes</a>
            <a class="nav-link" href="{{ url_for('favourites') }}">Favourites</a>
            <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            <a class="nav-link" href="{{ url_for('index') }}">Shopping List</a>
            <a class="nav-link" href="{{ url_for('createRecipe') }}">Create a Recipe</a>
            <span class="spacer"></span>
            <a class="nav-link user-name" href="{{ url_for('profile') }}"><span class="user-container"><span class="user-bg"><p class="user-letter"></p></span></span> {{ session['user'].username }}</a>
            <a class="nav-link logout" href="{{ url_for('auth.logout') }}">Logout</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('index') }}">Recipes</a>
          <a class="nav-link" href="{{ url_for('search') }}">Search</a>
            <span class="spacer"></span>
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="alert" class='alert alert-success' role="alert">
        {% for message in messages %}
          <center>{{ message }}</center>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div id = "alertId" class="alert alert-success hide">
    <center><span class="message"></span></center>
  </div>