<!DOCTYPE html>
<html>
    {% include ['head.html'] %}
    <body>
        {% include ['navbar.html'] %}
        {% include ['confirmModal.html'] %}
        <div class="container favourites">
            <div class="row">
                <div class="col-sm-12 title">
                    <center><h3>My Favourites</h3></center>
                </div>
            </div>
            <div class="row recipeGrid">
                {% for recipe in recipes.recipes %}
                    {% if loop.index % 2 == 1 %}
                        <div class="row">
                    {% endif %}

                            <div class="col recipe">
                                <a href="recipe/{{recipe.id}}">
                                    {% if recipe.imageURL == "default.jpg" %}
                                        <img class="recipe-image" src={{ url_for('static', filename='img/default.jpg') }}>
                                    {% else %}
                                        <img class="recipe-image" src={{ recipe.imageURL }}>
                                    {% endif %}
                                    <div class="favorite-overlay">
                                        {% set liked = false %}
                                        {% for like in likes %}
                                            {% if like.recipe_id == recipe.id %}
                                                {% set liked = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if liked == true %}
                                            <a href="saveRecipe/{{recipe.id}}" class="heart">
                                                <i class="far fa-heart"></i>
                                            </a>
                                        {% else %}
                                            <a href="unsaveRecipe/{{recipe.id}}" class="heart">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="overlay">
                                        <p class="recipe-title">{{ recipe.title }}</p>
                                    </div>
                                </a>
                            </div>

                    {% if loop.index % 2 == 0 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% include ['footer.html'] %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>
